<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pika Pichuuuuuu!</title>
</head>
<body>
<h1>Pika Pichuuuuuu!!</h1>
<p>
    {{str | upper}}
</p>
<pre>
    <code>
    {{ cowsay_result.stdout_lines | join('\n') }}
</code>
</pre>
</body>
</html>